body {
	font-family: 'Courier New', Courier, monospace;
}


h1 {
	font-family: 'Segoe UI', sans-serif;
	font-size: 64px;
}

.container {
	background-image: url('/assets/img/burger.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	padding: 10px;

}



.card {
	background-color: rgba(210, 213, 160, 0.817);
	margin: 30px;
}

.card-body {
	padding: 25px;
}

.form-group {
	padding: 10px;
	width: 30rem;
	height: 10rem;
	border-radius: 1rem;
}

.burger {

	width: 30rem;
	height: 6rem;
	border-radius: 1rem;
  }